<div class="grid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <h4>Parâmetros</h4>
            <p-toolbar styleClass="mb-4 gap-2">
                <ng-template pTemplate="left">
                    <div class="flex justify-center">
                        <form [formGroup]="form" class="flex align-items-center gap-1">
                            <input pInputText type="text" placeholder="Nome do Parâmetro" formControlName="nome" />
                            <input pInputText type="text" placeholder="Digite a Filial" formControlName="filial" />

                            <p-divider layout="vertical" styleClass="hidden md:flex"><b>|</b></p-divider>

                            <p-inputGroup>
                                <p-inputGroupAddon> <i class="pi pi-search"></i></p-inputGroupAddon>
                                <button pButton pRipple label="Pesquisar" class="p-button-success mr-2"
                                    (click)="pesquisar()"></button>
                            </p-inputGroup>

                        </form>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="filteredParamFiliais" [loading]="loading" [paginator]="true" [rows]="pageSize"
                [lazy]="true" [totalRecords]="totalCount" (onLazyLoad)="loadData($event)"
                styleClass="p-datatable-striped" [globalFilterFields]="['nome']" [rowHover]="true"
                responsiveLayout="scroll" [showCurrentPageReport]="false" dataKey="id" editMode="row"
                [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Filtrar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%">Nome</th>
                        <th style="width:25%">Filial</th>
                        <th style="width:25%">Valor</th>
                        <th style="width:25%"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-paramFilial let-rowIndex="rowIndex" let-editing="editing">
                    <tr [pEditableRow]="paramFilial">
                        <td>
                            {{paramFilial.nome}}
                        </td>
                        <td>
                            {{paramFilial.codfilial}}
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="paramFilial.valor" required />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{paramFilial.valor}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <div class="flex align-items-center justify-content-center gap-2">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                    icon="pi pi-pencil" (click)="onRowEditInit(paramFilial)"
                                    class="p-button-rounded p-button-text">
                                </button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                    icon="pi pi-check" (click)="onRowEditSave(paramFilial)"
                                    class="p-button-rounded p-button-text p-button-success mr-2">
                                </button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                    icon="pi pi-times" (click)="onRowEditCancel(paramFilial, rowIndex)"
                                    class="p-button-rounded p-button-text p-button-danger">
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- <p-dialog [(visible)]="tituloDialog" [style]="{width: '300px'}" header="Novo canal" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Nome</label>
                    <input type="text" pInputText id="name" [(ngModel)]="titulo.name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !titulo.name}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !titulo.name">Nome é obrigatório.</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="savetitulo()"
                    [loading]="loading"></button>
            </ng-template>
        </p-dialog> -->

    </div>
</div>
